section {
    flex: 1 1 50%;
    padding-bottom: 3rem;
}

h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

* {
    box-sizing: border-box;
}

.neumorphic {
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
    font-size: 5rem;
    /*width: 56vw;*/
    /*height: 31.5vh;*/
    height: fit-content;
    width: fit-content;
    border-radius: 40px;
    overflow: hidden;
    padding: 1.3rem;
    display: flex;
    margin-bottom: 50px;
}

.neumorphic--pressed {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.variation1 {
    background: linear-gradient(
            -45deg,
            rgba(0, 0, 0, 0.2),
            rgba(255, 255, 255, 0.3)
    );
}

.variation1 span {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    padding: 0.65rem;
    box-shadow: inset 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
    inset -8px -8px 16px 0 rgba(255, 255, 255, 0.4);
}

.variation1 strong {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    background-color: #f13c20;
    color: white;
}

.variation1.pressed strong {
    background-color: #bb3c20;
}

.variation2 {
    justify-content: space-around;
    align-items: center;
}

.variation2 span {
    display: block;
    padding-bottom: 1.5rem;
    position: relative;
    font-size: 3rem;
}

.variation2 span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 0.3rem;
    border-radius: 1rem;
    width: 50%;
    margin: 0 auto;
    background-color: currentColor;
}

.variation2.pressed {
    color: #5ab9ea;
}
.responsive {
    max-height: 100%;
    max-width:100%;
    width: auto;
    border-radius: 20px;
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
}


/*.card{*/
/*    background: #ffa552;*/
/*    box-shadow:  -35px 35px 70px #c78140,*/
/*    35px -35px 70px #ffc964;*/
/*}*/


/*@media only screen and (max-width: 600px) {*/
/*    .card {*/
/*        display: grid;*/
/*        !*grid-template-columns: 250px;*!*/
/*        grid-template-columns: calc(70vw);*/
/*        grid-template-rows: calc(70vw/2) calc(70vw/2) 0px;*/
/*        grid-template-areas: "image" "text" "stats";*/
/*        border-radius: 30px;*/
/*        !*background: white;*!*/
/*        !*box-shadow: 5px 5px 15px rgba(0,0,0,0.9);*!*/
/*        text-align: center;*/
/*        margin:100px;*/
/*        line-height:17px;*/
/*        !*background: #ffa552;*!*/
/*        !*box-shadow:  24px 24px 49px #b8773b,*!*/
/*        !*-24px -24px 49px #ffd369;*!*/

/*    }*/
/*    .card-text{*/
/*        line-height: 5px;*/
/*    }*/

/*}*/
/*@media only screen and (min-width: 600px) {*/
/*    .card {*/
/*        display: grid;*/
/*        grid-template-columns: 350px;*/
/*        grid-template-rows: 175px 175px 0px;*/
/*        grid-template-areas: "image" "text" "stats";*/
/*        border-radius: 30px;*/
/*        !*background: white;*!*/
/*        !*box-shadow: 5px 5px 15px rgba(0,0,0,0.9);*!*/
/*        font-family: roboto;*/
/*        text-align: center;*/
/*        margin:100px;*/
/*        line-height:17px;*/
/*        !*background: #ffa552;*!*/
/*        !*box-shadow:  24px 24px 49px #b8773b,*!*/
/*        !*-24px -24px 49px #ffd369;*!*/
/*        !*border-radius: 50px;*!*/

/*    }*/

/*}*/

/*@media only screen and (min-width: 400px){*/
/*    .card-text{*/
/*        margin: 25px;*/
/*        line-height: normal;*/
/*    }*/
/*    .project-h2{*/
/*        margin-bottom: 20px;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 400px){*/
/*    .card-text{*/
/*        margin: 10px;*/
/*    }*/
/*    .project-h2{*/
/*        !*margin-bottom:5px;*!*/
/*    }*/
/*}*/


/*.card-image {*/
/*    grid-area: image;*/
/*}*/
/*.card-text {*/
/*    grid-area: text;*/
/*}*/
/*.card-stats {*/
/*    grid-area: stats;*/
/*}*/
/*.card-image {*/
/*    grid-area: image;*/
/*    background: url("../img/img2.png");*/
/*    !*border-top-left-radius: 15px;*!*/
/*    !*border-top-right-radius: 15px;*!*/
/*    background-size: cover;*/
/*    margin:15px;*/
/*    border-radius: 20px;*/
/*}*/
/*.card-text {*/
/*    grid-area: text;*/
/*}*/
/*.card-text p {*/
/*    color: #400000;*/
/*    font-size:15px;*/
/*    font-weight: 300;*/
/*    line-height: 20px;*/
/*    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;*/
/*}*/
/*.card-text h2 {*/
/*    margin-top:0px;*/
/*    font-size:28px;*/
/*    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;*/
/*    font-weight: 600;*/
/*    color: #400000;*/
/*}*/


/*.card {*/
/*    display: grid;*/
/*    grid-template-columns: 300px;*/
/*    grid-template-rows: 210px 210px 80px;*/
/*    grid-template-areas: "image" "text" "stats";*/
/*    border-radius: 18px;*/
/*    background: white;*/
/*    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    font-family: roboto;*/
/*    text-align: center;*/
/*}*/
/*Larger than 600*/
@media only screen and (min-width: 600px){
    .card {
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 210px 210px 0px;
        grid-template-areas: "image" "text" "stats";
        border-radius: 18px;
        background: #34816D;
        /*box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;*/
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        font-family: roboto;
        text-align: center;
    }
}
/*Smaller than 600*/
@media only screen and (max-width: 600px){
    .card {
        display: grid;
        grid-template-columns: 70vw;
        grid-template-rows: 210px 210px 00px;
        grid-template-areas: "image" "text" "stats";
        border-radius: 18px;
        background: #34816D;
        /*box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;*/
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        font-family: roboto;
        text-align: center;
    }
}




.card-image {
    grid-area: image;
    margin:20px;
}
.card-text {
    grid-area: text;
}
.card-stats {
    grid-area: stats;
}
.card-image {
    grid-area: image;
    background: url("../img/img3.png");
    /*border-top-left-radius: 15px;*/
    /*border-top-right-radius: 15px;*/
    border-radius: 15px;
    background-size: cover;
}
.card-text {
    grid-area: text;
    margin: 25px;
}
.card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
}
.card-text p {
    color: #FEFEFE;
    font-size:15px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.card-text h2 {
    margin-top:0px;
    font-size:28px;
    color: #FEFEFE;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
}
.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
}








@media only screen and (min-width: 600px) {
    .tagcloud{
        font-size: 22px;
    }
    .tagcloud-span{
        align-self: center;
    }
    .tagcloud-div{
        align-items: center;
    }

    .about-me{
        width: 100%;
        text-align: center;
    }
}
@media only screen and (max-width: 600px) {
    .tagcloud{
        /*margin-top: 80%;*/
        font-size: 15px;
    }
    .tagcloud-div{
        align-items: center;
    }
}

@media only screen and (max-width: 600px){
    .profile-wrapper{
        width: 98%;
    }
}

@media only screen and (min-width: 600px){
    .profile-wrapper{
        width: 350px;
    }
}



.tagcloud {
    font-family: 'Poppins', sans-serif;
    font-weight: 650;
}
.tagcloud--item:hover {
    color: #36454F;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/**{*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*  font-family: 'Poppins', sans-serif;*/
/*}*/
/*body{*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  min-height: 100vh;*/
/*  background: #ecf0f3;*/
/*}*/

.profile-wrapper,
.profile-wrapper .img-area,
.social-icons a,
.buttons button{
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
}
.profile-wrapper{
    position: relative;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile-wrapper .icon{
    font-size: 17px;
    color: #31344b;
    position: absolute;
    cursor: pointer;
    opacity: 0.7;
    top: 15px;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    font-size: 16px;
}
.profile-wrapper .icon i{
    position: relative;
    z-index: 9;
}
.profile-wrapper .icon.arrow{
    left: 15px;
}
.profile-wrapper .icon.dots{
    right: 15px;
}
.profile-wrapper .img-area{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-area .inner-area{
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    border-radius: 50%;
}
.inner-area img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profile-wrapper .name{
    font-size: 23px;
    font-weight: 500;
    color: #31344b;
    margin: 10px 0 5px 0;
}
.profile-wrapper .about{
    color: #44476a;
    font-weight: 400;
    font-size: 16px;
}
.profile-wrapper .social-icons{
    margin: 15px 0 25px 0;
}
.social-icons a{
    position: relative;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
}

.social-icons a:hover::before,
.profile-wrapper .icon:hover::before,
.buttons button:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
}
.buttons button:hover:before{
    z-index: -1;
    border-radius: 5px;
}
.social-icons a i{
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 40px;
}
.social-icons a.fb i{
    color: #4267B2;
}
.social-icons a.twitter i{
    color: #1DA1F2;
}
.social-icons a.insta i{
    color: #E1306C;
}
.social-icons a.git i{
    color: black;
}
.social-icons a.yt i{
    color: #ff0000;
}
.social-icons a.linkedin i{
    color: #0a53be;
}
.profile-wrapper .buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.buttons button{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 0;
    color: #31344b;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
}
.buttons button:first-child{
    margin-right: 10px;
}
.buttons button:last-child{
    margin-left: 10px;
}
.profile-wrapper .social-share{
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 0 5px;
    justify-content: space-between;
}
.social-share .row{
    color: #31344b;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}
.social-share .row::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    background: #e0e6eb;
    margin-left: -25px;
}
.row:first-child::before{
    background: none;
}
.social-share .row i.icon-2{
    position: absolute;
    left: 0;
    top: 50%;
    color: #31344b;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.row:nth-child(1):hover i.fa-heart,
.row:nth-child(2):hover i.fa-comment{
    opacity: 1;
    pointer-events: auto;
}

/* ---- reset ---- */



canvas {
    display: block;
    vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(236, 240, 243);
    /*background-image: url("");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.js-count-particles {
    font-size: 1.1em;
}
#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}
#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}
.count-particles {
    border-radius: 0 0 3px 3px;
}
.about-me p{
    line-height: 30px;
}
@media only screen and (max-width: 800px){
    footer{
        position: absolute;
        bottom: 40px;
    }
}
@media only screen and (min-width: 800px){
    footer{
        position: absolute;
        bottom: 5px;
    }
}


footer{

}